@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

p {
  margin: 15px 0;
  line-height: 1.8;
}

a {
  text-decoration: none;
  color: #333;
}

img {
  width: 100%;
  border-radius: 10px;
}

header {
  background: lightsteelblue;
  color: black;
  padding: 5px;
}

.header_wrapper{
  display: flex;
  flex-direction: row;
  gap: 80px;
}

footer{
  text-align: center;
  background-color: lightsteelblue;
  color: black;
  padding: 5px;
}

header a {
  color: #fff;
}

.container {
  max-width: 768px;
  margin: auto;
  overflow: auto;
  padding: 0 10px;
}

.btn {
  display: inline-block;
  background: steelblue;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn:focus {
  outline: none;
}

.btn:hover {
  transform: scale(0.98);
}

.btn-back {
  background: #f4f4f4;
  color: #000;
  margin-bottom: 20px;
}

.posts {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin-top: 30px;
}

.card {
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card-page {
  padding: 15px 30px;
}

.post-title {
  margin: 10px 0;
}

.post-date {
  background: #f4f4f4;
  margin-bottom: 20px;
  padding: 3px 10px;
}

.post-body ul,
ol {
  font-size: 110%;
  line-height: 2.3;
  font-weight: bold;
  margin: 10px 0;
}

.post-body pre {
  background: #f4f4f4;
  padding: 20px;
  margin: 20px 0;
  line-height: 2.3;
}

.sidebar{
  min-width: 200px;
  margin-left: 10px;
}

@media (max-width: 500px) {
  .posts {
    grid-template-columns: 1fr;
  }
}

.doc_wrapper{
  display: flex;
  min-height: 100vh;
}

.blog_wrapper{
  min-height: 100vh;
}

.link{
  cursor: default;
}

.home_page_element{
  height: 550px;
  border-color: black;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  overflow-y: hidden;
}

.home_page_intro{
  background-color: lightblue;

}

.home_page_shop{
  background-color: lightcyan;
}

.home_page_blog{
  background-color: lightblue;
}

.home_page_docs{
  background-color: lightcyan;
}

.home_page_element_left{
  flex: 1;
}

.home_page_element_right{
  flex: 1;
  display: flex;
  flex-direction: column;
}

.home_element_play{
  min-height:150px;

}

.home_page_element_left{
  margin-left: 50px;
  margin-top: 50px;
}

.landing{
  width: fit-content;
  background-color: lightblue;
}

.landing_points{
  font-size: x-large;
  margin-left: 10px;
}

.landing_head{
  font-size: xx-large;
  font-weight: bold;
}
.landing_body{
  padding-left: 20px;
  padding-right: 20px;
}

#mc_embed_signup{
  clear:left;
  font:18 Helvetica,Arial,sans-serif;
  width:auto;
}
.required{
  margin-left: 25px;
  width: 200vw;
  height: 50px;
}

.button{
margin-left: 25px;
margin-top: 20px;
background-color: lightseagreen;
height: 50px;
width: 200vw;
font-size: large;
margin-bottom: 20px;
}

.button_wrap{
  display: flex;
  justify-content: left;
}

.bottom_link{
  margin-top: 40px;
}
/* .mc-field-group{
  align-items: right;
} */

.field_group_wrap{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

html{
  display: flex;
}

.logo{
  width: 25%;
}

.wrapper{
  display: flex;
  justify-content: center;
}
